<ion-view view-title="{{'TAB2' | translate}}">
    <ion-content class="padding" scroll="true" class="padding-bottom">
			<ion-scroll>
		<form name="phoneForm" novalidate>
		<select 
        ng-options="phone.model group by phone.marque for phone in phoneList.list"
				ng-model="phoneList.selectedOption" ><br>
				<option value="" >-- choisie marque && model --</option>
		</select>
		<div>
			 <input type="number" 
			 				name="camera" 
              placeholder="camera qualite"
			 				ng-model="phone.camera"
							  width="20px"
           		min="4" 
							max="32" 
							required>
				<div ng-messages="phoneForm.camera.$error">
					<span ng-message="required" class="help-block">
					   obligatoire.
					</span>
					<span ng-message="min" class="help-block">
					   court.
					</span>
					 <span ng-message="max" class="help-block">
						  long une valeur entre 4 et 32
					 </span>
				</div>
		</div>



	  <div>
			 <input type="number" 
			 				name="memoire" 
							placeholder="memoire"
							 width="20px"
			 				ng-model="phone.memoire"
           		min="1" 
							max="200" 
							required>
		<div ng-messages="phoneForm.memoire.$error">
					<span ng-message="required" class="help-block">
					   obligatoire.
					</span>
					<span ng-message="min" class="help-block">
					   court.
					</span>
					 <span ng-message="max" class="help-block">
						  long?
					 </span>
				</div>
	<div>
			coulleur : <input type="radio" 
						ng-model="phone.coulleur" 
						name="color"
						value="gold" 
						ng-required="!phone.coulleur">  gold
			<input type="radio" 
							ng-model="phone.coulleur" 
							value="noir" 
							name="color"
							ng-required="!phone.coulleur"> noir 	
		<input type="radio" 
							ng-model="phone.coulleur" 
							value="blanck"
							name="color" 
							ng-required="!phone.coulleur"> blanck 
		<input type="radio" 
							ng-model="phone.coulleur" 
							value="gree" 
							name="color"
							ng-required="!phone.coulleur"> gree 
			<input type="radio" 
							ng-model="phone.coulleur" 
							value="Autre" 
							name="color"
							ng-required="!phone.coulleur"> autre 
				<div ng-messages="phoneForm.color.$error">
					<span ng-message="required" class="help-block">
					   obligatoire.
					</span>
	   		</div>
	
	  </div>


	  <div>
			Etat : <input type="radio" 
						ng-model="phone.isNeuf" 
						name="isNeuf"
						value="oui" 
						ng-required="!phone.isNeuf">  oui
			<input type="radio"
								name="isNeuf" 
							ng-model="phone.isNeuf" 
							value="non" 
							ng-required="!phone.isNeuf"> non 

			<div ng-messages="phoneForm.isNeuf.$error">
					<span ng-message="required" class="help-block">
					   obligatoire.
					</span>
	   		</div>				
	  </div>


	    <div >
			double sim ou non : <input type="radio" 
						ng-model="phone.isDuos" 
						name="isDuos"
						value="oui" 
						ng-required="!phone.isDuos">  oui 
			<input type="radio"
							name="isDuos" 
							ng-model="phone.isDuos" 
							value="non" 
							ng-required="!phone.isDuos"> non 

				<div ng-messages="phoneForm.isDuos.$error">
					<span ng-message="required" class="help-block">
					   obligatoire.
					</span>
	   		</div>				
	  </div>
	    </div>
			<label>
	    <input      type="file"
									required
									 name="img"
                   accept="image/*"
									 multiple
                   image="img"
                   resize-max-height="400"
                   resize-max-width="300"
                   resize-quality="0.7"  />
					<span ng-if="img.length != 4">
					Selectionner 4 photo</span>
					<div ng-if="img.length">
						<div  ng-repeat="i in img">
								<img  src="{{i.resized.dataURL}}" width="20px" height="20px">
						</div>
					</div>
	  </label>

	  <div >
			 <input type="number" 
			 				name="prix" 
							placeholder="prix"
			 				ng-model="phone.prix"
							 width="20px"
           		min="5000" 
							max="300000" 
							ng-pattern="prix"
							required>
			<div ng-messages="phoneForm.prix.$error">
					<span ng-message="required" class="help-block">
						obligatoire
					</span>
					<span ng-message="min" class="help-block">
					  le prix tres petit.
					</span>
					 <span ng-message="max" class="help-block">
						  Assez tres grand.
					 </span>
					 <!--<span class="error" ng-message="phoneForm.phone.$error.pattern">
						desole verifier le prix</span>-->
				</div>
	  </div>

		
	  <label>
			<select 	name="villes" id="villes" required
                ng-options="option.name for option in villes.list"
          			ng-model="villes.selectedOption">
								<option value="" >-- choisie votre ville --</option>
			</select>
	  </label>
			<div>
      <input type="text"
					 placeholder="+22227766003" 
					 name="phone" ng-pattern="phoneNumbr" 
					 ng-model="phone.phone1" 
					 minlength="7"
					 maxlength="14"
					  required />
			<div ng-messages="phoneForm.phone.$error">
				<span class="error" ng-message="required">
					obligatoire!</span>
				<span class="error"  ng-message="minlength">
				 7 nombre mininum.</span>
				<span class="error" ng-message="maxlength">
				 7 nombre mininum.</span>
				<br><span class="error" ng-message="pattern">
					doit etre [+22227766003 ou 277766003]</span>
			</div>
    </div>
	  <label >
	    <input type="email" 
						name="email"
						placeholder="exemple@exemple.com" 
						ng-model="phone.email">
					<div ng-messages="phoneForm.email.$error">
							<span ng-message="email" class="help-block">
								email n'est pas correct?
							</span>
						</div>
						
					
	  </label>
		<label>
			<input type="password" 
					   name="password"
						 placeholder="password"
						 ng-model="phone.password"
						 minlength="6"
						 maxlength="10" 
							required/>
			<div ng-messages="phoneForm.password.$error">
					<span ng-message="required" class="help-block">
					  password obligatoire
					</span>
					<span ng-message="minlength" class="help-block">
					  password  court.
					</span>
					 <span ng-message="maxlength" class="help-block">
						  password long?.
					 </span>
				</div>
		</label>

		<label>
		<input type="text"
			   name="trader_name"
				 placeholder="trader_name"
			   ng-model="phone.trader_name"
			   ng-minlength="2"
			   ng-maxlength="10" />
				 <div ng-messages="phoneForm.trader_name.$error">
					<span ng-message="minlength" class="help-block">
					  nom court.
					</span>
					 <span ng-message="maxlength" class="help-block">
						 nom long?
					 </span>
				</div>
	</label>

	<label>
		<input type="text"
			   name="trader_facebook"
				 placeholder="trader_facebook"
			   ng-model="phone.trader_facebook"
			   ng-minlength="2"
			   ng-maxlength="10" />
				 <div ng-messages="phoneForm.trader_facebook.$error">
					<span ng-message="minlength" class="help-block">
					  trader_facebook court.
					</span>
					 <span ng-message="maxlength" class="help-block">
						 trader_facebook long?
					 </span>
				</div>
	</label>

	<label>
		<input type="text"
			   name="trader_insta"
				 placeholder="trader_insta"
			   ng-model="phone.trader_insta"
			   ng-minlength="2"
			   ng-maxlength="10" />
				 <div ng-messages="phoneForm.trader_insta.$error">
					<span ng-message="minlength" class="help-block">
					  trader court.
					</span>
					 <span ng-message="maxlength" class="help-block">
						 trade long?
					 </span>
				</div>
	</label>


		<label><!-- ng-if="phoneForm.$valid " -->
	   <button type="submit" ng-disabled="phoneForm.$invalid"	ng-click="addPhone(img)">add Phone</button>
	  </label>	
		</form>
		</ion-scroll>
    </ion-content>
</ion-view>